@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
//基础变量
@import "~/assets/scss/_mixin.scss";
//字体
@import "~/assets/font/iconfont.css";
// 字体上传到cdn再引用 不要引用无效地址
//@font-face{
//  font-family: "Ubuntu";
//  src:url('https://d2q486kjf9cwwu.cloudfront.net/static/font/ubuntu-r-s.woff');
//}
@font-face{
    font-family: "Ubuntu";
    //src:url('https://cloud.localpanda.com/static/font/ubuntu-r-s.woff');
    src:url('https://cloud.localpanda.com/static/font/Regular-min.woff');
}
@font-face{
    font-family: "Ubuntu";
    //src:url('https://cloud.localpanda.com/static/font/ubuntu-r-s.woff');
    src:url('~/static/font/Regular-min.woff');
}
body,
html {
    background: #fff;
    color: #353a3f;
    -webkit-font-smoothing: antialiased;
    font-weight:400;
    font-family: "Ubuntu",Arial;
}
html{
    font-size: 50px !important;
}
@media only screen and (min-width: 401px){
    html {font-size: 56px !important;}
}

@media only screen and (min-width: 569px){
    html {font-size: 64px !important;}
}
@media only screen and (min-width: 700px){
    html {font-size: 70px !important;}
}
@media only screen and (min-width: 1000px){
    html {font-size: 90px !important;}
}
div,input,p,textarea,ul,li,dl,dd,dt,section,nav,article,aside,header,footer,address{ box-sizing: border-box;}

body{
    font-size:px(24);
    line-height:1.5;
    //@include scale(1);
}

ul,li{
    list-style: none;
}
h1,h2,h3,h4,h5,{
    font-weight: normal;
}
em,i{
    font-style: normal;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

a {
    color: #353a3f;
    text-decoration: none;
}

a:hover {
    color: #353a3f;
}
img{ vertical-align: top;}

button {
    border: none;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}
input,button,select,textarea{ outline:none;overflow: hidden;}
input {
    padding-left: 10px;
}

.m0{ margin: 0!important;}
.mr5{ margin-right: 5px!important;}
.red{ color: red;}
.green{ color: green;}

.stopScroll{
    overflow: hidden;
    height: 100vh;
}

.text_shadow{text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);}

.btn{
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    width: 100%;
    display: inline-block;
    background-image: -webkit-gradient(linear, right top, left top, from(#009efd), to(#1bbc9d));
    background-image: linear-gradient(270deg, #009efd 0%, #1bbc9d 100%);
    border-radius: 0.45rem;
    color: #fff;
    font-size: 0.3rem;
    box-sizing: border-box;
}
.btn_plain{
    background-image:none;
    background-color: #fff;
    color: #1bbc9d;
    border: solid 1px #1bbc9d;
}

/*
 * vue专用
 * 保持在元素上直到关联实例结束编译
 */

[v-cloak] {
    display: none;
}
.titleTag {
    color: #3a3a3a;
    text-align: center;
    margin-bottom: 18px;
    h3 {
        font-size: 32px;
        font-weight: bold;
    }
    p {
        font-size: 16px;
        margin-top: 6px;
    }
}
.swiper-pagination-bullet{
    
}

.winBg{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    -webkit-transition:all 0.2s linear 0s;
    transition:all 0.2s linear 0s;
    
    opacity: 1;
    z-index: 100;
}
.winBgHide{
    opacity: 0;
    z-index: -1;
}

